
.r-head{
    margin-bottom: 2rem;
}
.r-card{
    gap: 0.6rem;
    padding: 1rem;
    border-radius: 100px;
    max-width: max-content;
    margin: auto;
    transition: all 30ms ease-in;
    cursor: pointer;
    
}
.r-card>img{
    width: 100%;
    max-width: 15rem;
}
.r-card{
    width: 16rem;
    padding: 1rem;
    border: 0.8px solid rgba(128,128,128, 0.143);
    border-radius: 5px;
    gap: 1rem;
    transition: all 300ms ease-in;
}
.r-card:hover{
    scale: 1.1;
    box-shadow: var(--shadow);
}
.r-card:hover{
    color: white;
    scale: 0.9;
}

.r-card>:nth-child(2){
    font-size: 1.2rem;
    font: 600;
}
.r-card>:nth-child(3){
    font-size: 1.5rem;
    
}
.r-card>:nth-child(4){
    font-size: 0.7rem;
    width: 15rem;
}



